 
        /* ELEMENT Selector */
        div{
            background-color: rgb(31, 7, 166);
        }

        /*  id Selector */
        #header{
            font-size: large;
        }

        /* Klassenselector */

        .subtitle{
            color: rgb(91, 170, 77);
        }

        #text p {
            background-color: rgb(152, 89, 7);
        }
        